{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- login -->
<section class="signin">
    <div class="container justify-content-center d-flex align-items-center">
      <div class="form">
        <div class="signin-heading text-center">
          <h2>Login to Casots</h2>
        </div>
        <form class="" method="post">
          {% csrf_token %}
          {{ form|crispy }}

          <div class="button text-center mt-4">
          <button type="submit" class="btn btn-primary col-md-12 login-submit">Submit</button>
          </div>

          <div class="forget-password d-flex justify-content-between pt-4">
            <div class="password">
             
              <a href="" class="password">
              <i class="fa fa-lock " aria-hidden="true"></i>
              <span>Forgotten password</span>
            </a>
            </div>
            <div class="register-account">
              <a href="{% url 'courses:registration' %}" class="register-account">
                <i class="fas fa-edit "></i>
              <span>Sign in</span>
              </a>
              
            </div>
          </div>
        </form>
      </div>
    </div>
</section>
<!-- ending login -->

<!-- footer -->


{% endblock content %}
