{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'quiz.css' %}">
        <title>Document</title>
</head>
<body>
    <div class="container width">
        <div class="header">
            <h1 class="course-title text-center">Computer Science</h1>
        </div>
        
        <div class="question">
            <div class="question-number d-flex justify-content-between">
                <div class="question-count">Question 1-5</div>

            </div>
            <div class="question-body text-center">
                <h1>Which of the following typologies is not a brodcast type?</h1>
            </div>
            <div class="question-choice d-flex flex-wrap justify-content-around">
                <div class="col-sm-4 row ex">
                    <div class="choice-letter mt-3"">A</div>
                    <span class="answer">bus topology</span>
                </div>
                <div class="col-sm-4 row ex">
                    <div class="choice-letter mt-3"">B</div>
                    <span class="answer">bus topology</span>
                </div>
                <div class="col-sm-4 row ex">
                    <div class="choice-letter mt-3">C</div>
                    <span class="answer">bus topology</span>
                </div>
                <div class="col-sm-4 row ex">
                    <div class="choice-letter mt-3">D</div>
                    <span class="answer">bus topology</span>
                </div>
            </div>
            <footer class="submit-footer d-flex justify-content-between">
                <div class="question-timer">Time Elapse: 00:50:00</div>
                <div class="question-button"><button type="submit" class="btn btn-success">Submit</button></div>
            </footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>