{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="welcome-to-casots">
    <div class="container">
        <div class="welcome">
            <div class="heading text-center">
                <h1>Welcome to Casots E-learning</h1>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore labore libero minus tenetur!</p>
            </div>
            <div class="welcome-body">
                <div class="our-mission justify-content-center d-flex flex-wrap">
                    <div class="card shadow-lg m-3" style="width: 21rem;">
                        <img src="{% static 'images/IMG-20201114-WA0022.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body ">
                          <h3 class="card-title unique4">Our Stories</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti nulla soluta ipsa officia debitis fugit iure inventore maiores! Corporis sed doloremque nesciunt aliquam, libero hic est dicta ex veritatis accusamus tempora in voluptate quam? Dignissimos modi amet rem illo eum aliquam quod officia. Suscipit voluptatibus ducimus adipisci assumenda!</p>
                        </div>
                      </div>

                      <div class="card shadow-lg m-3" style="width: 21rem;">
                        <img src="{% static 'images/IMG-20201114-WA0026.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body ">
                          <h3 class="card-title unique4">Our Mission</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti nulla soluta ipsa officia debitis fugit iure inventore maiores! Corporis sed doloremque nesciunt aliquam, libero hic est dicta ex veritatis accusamus tempora in voluptate quam? Dignissimos modi amet rem illo eum aliquam quod officia. Suscipit voluptatibus ducimus adipisci assumenda!</p>
                        </div>
                      </div>

                      <div class="card shadow-lg m-3" style="width: 21rem;">
                        <img src="{% static 'images/IMG-20201114-WA0025.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body ">
                          <h3 class="card-title unique4">Our Vision</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti nulla soluta ipsa officia debitis fugit iure inventore maiores! Corporis sed doloremque nesciunt aliquam, libero hic est dicta ex veritatis accusamus tempora in voluptate quam? Dignissimos modi amet rem illo eum aliquam quod officia. Suscipit voluptatibus ducimus adipisci assumenda!</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ending welcome to cosots -->

<!-- why choose us -->
    <section class="why_choose_us ">
        <div class="container">
            <div class="us ">
                <div class="why-choose-us text-center">
                    <h1>Why Choose Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nesciunt aspernatur voluptatibus laudantium molestiae consequatur suscipit aliquam, incidunt atque placeat, earum voluptatem maiores quo quos cupiditate corporis perferendis debitis facilis neque cumque corrupti deserunt saepe? Ut, voluptatem nesciunt itaque, quia recusandae in sapiente rem possimus quod unde veniam ducimus odio.</p>
                </div>
            </div>
        </div>
    </section>
<!-- ending why choose us -->

<!-- The best Tutors in Town -->
    <section class="the_best_tutors_in_town pb-5">
        <div class="container">
            <div class="the-best-tutors-intown">
                <div class="tutor text-center">
                    <h1 class="tutor-heading">The Best Tutors In Town</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio obcaecati, sed vel fugiat maiores iusto temporibus enim nihil ab. Fuga, aspernatur dolores nobis, laboriosam impedit beatae culpa labore consequuntur velit ullam fugiat minus doloremque laborum temporibus. Consequatur dolor incidunt similique odit dolores sit atque saepe sed, eveniet veritatis, dolorum error!</p>
                </div>
                <div class="tutor-body d-flex flex-wrap flex-row justify-content-center text-center mt-5">
                    <div class="card shadow-lg tutor-cards mt-4" style="width: 21rem;">
                        <img class="card-img-top"  src="{% static 'images/IMG-20201114-WA0026.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                          <h3 class="card-title">Jane King</h3>
                          <p class="card-text">Accounting tutor</p>
                          <div class="tutor-social-links d-flex justify-content-around">
                            <a href=""><i class="fab fa-twitter icons"></i></a>
                            <a href=""><i class="fab fa-google-plus-g icons"></i></a>
                            <a href=""><i class="fab fa-facebook-f icons"></i></a>  
                        </div>
                        </div>
                      </div>

                      <div class="card shadow-lg tutor-cards mt-4" style="width: 21rem;">
                        <img class="card-img-top" src="{% static 'images/IMG-20201114-WA0026.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                          <h3 class="card-title">Victoria James</h3>
                          <p class="card-text">Andriod Developer</p>
                          <div class="tutor-social-links d-flex justify-content-around">
                            <a href=""><i class="fab fa-twitter icons"></i></a>
                            <a href=""><i class="fab fa-google-plus-g icons"></i></a>
                            <a href=""><i class="fab fa-facebook-f icons"></i></a>                        
                        </div>
                        </div>
                      </div>

                      <div class="card shadow-lg tutor-cards mt-4" style="width: 21rem;">
                        <img class="card-img-top" src="{% static 'images/IMG-20201114-WA0026.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                          <h3 class="card-title">Janet Jason</h3>
                          <p class="card-text"> Art Tutor</p>
                            <div class="tutor-social-links d-flex justify-content-around">
                                <a href=""><i class="fab fa-twitter icons"></i></a>
                                <a href=""><i class="fab fa-google-plus-g icons"></i></a>
                                <a href=""><i class="fab fa-facebook-f icons"></i></a>                                
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>

<!-- ending The best Tutors in Town -->

<!--register Now  -->

 <!--ending register Now  -->
{% endblock content %}